[Desktop Entry]
Type=Application
Exec=/usr/local/bin/refresh_display.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Refresh Display
Comment=Force display redraw after login
