[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
Comment=Kitty terminal (myenv)
Exec=/usr/bin/kitty
Icon=kitty
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
